/*Generics*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: OpenSans, Helvetica, sans-serif;
    
}

a {
    text-decoration-line: none;
    color: black;
    }

ul {
    list-style-type: none ;
} 
img {
    max-width: 100%;
    display: block;
}
h1 {
    font-size: 3rem ;
    font-weight:800 ;
    margin-bottom: 30px ;
}

.xl-container { 
    margin: 0 auto;
    min-height: 30vh;
    max-width: 1200px;
    position: relative;
}
.xs-container {
    padding: 0px;
    min-height: 60vh;
    max-width: 50%;
    position: relative;
    margin: 100px auto;
    border: 2px dashed black;
}

.small-txt {
    font-size: 13px;
    color: black;
    line-height: 1.5;
}
.bld {
    font-weight: bold;
}
.grey-txt {
    color:lightgrey;
}
button{
    width: 50px;
    height: 18px;
    border: none;
    background-color: rgb(3, 139, 224);
    color: white;}

    #pricing button {
        
        font-size: 15px;
        height: 20px;
        width: 100%;
        font-size: 11px;
    }
    #partner button {
        height: 24px;
        width: 70%;
        font-size: 11px;
        background-color: white;
        border: 1px solid grey;
        color: grey;
    }

    


/*Header*/
#main-header  {
background-color:white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;  
min-height: 65px;
width: 100%; 
position: sticky;
top: 0;
left: 0;
box-shadow: 0px 0px 0px 0.8px #333333;
z-index: 1;
}

#main-header ul {
    display: flex;
align-items: center;
gap: 30px;

}



/*Main*/

#jumbotron {
    background-color: lightskyblue;
    min-height: 430px;
}
.bottom-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.left-col {
   flex-basis: 30%;
}
.left-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    position: relative;
    top:67px;
    
}
.left-col p {
    margin-bottom: 15px;
    min-height: 30px;
}
.left-col button {
    font-size: 12px;
    width: 156px;
    min-height: 30px;
    background-color: rgb(3, 139, 224);
    color: white;
    border: none;
    align-items: center;
}
.right-col {
    flex-basis: 70%;
    position: relative;
    top: 66px;
    flex-basis: 70%;
}

.fa-solid {
    font-size: 40px;}
    /*section pricing*/
.xs-container h2{
    text-align: center;
}
.xs-container >h2 {
    text-align: start;
}
.xs-container span {
    text-align: center;
    line-height: 17px;
}
.circle {
    display: inline-block;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid lightslategray;
    margin: -3px auto;
}
.circle-blue {
    display: inline-block;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 3px solid rgb(0, 128, 255);
    margin: -3px auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}


.row .cols-grow > *{
    flex-grow: 1;

}
.row .cols-3 {
    gap: 30px;
}
.row.cols-3 > .col {
    flex-grow: 1;
    flex-basis: calc(100% / 3 - 60px / 3);
    min-height: 95px;
    border: 1px solid lightslategray;

}
.tag {
    min-height: 20px;
    max-width: 100%;
    border: 1px solid lightslategray;
    border-right: 5px;
    text-align: center;}

.tag span {
    padding-right: 5px;
}
.line {
    width: 20%;
    height: 1px;
    background-color: grey;
    margin: 10px 
}

.col .fa-solid{
    font-size: 10px;
}

div > .fa-check {
    color: blue;
    font-size:10px ;
}

 /*section partner*/

 .partner-flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.partner-flex-container img {
    max-height: 65%;
    position: absolute;
    top: 0;
    left: 10px;
}


.left-box .right-box {
    width: 48%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}
.left-box img {
    max-width: 100%;
}
.right-box {
    width: 30%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin: 70px;
}
/*section business*/
#dropbox-business h2 {
    text-align: center;
}

.row-business {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.col-business {
    flex-basis: calc(100% / 3 - 20px / 3);
    margin-bottom: 26px;
}
.card {
    min-height: 354px;
    min-width: 200px;
    position: relative;
}
.card img {
    max-width: 100%;
    max-height: 100%;
}

.customers-link > a {
    text-decoration: underline;
    color: blue;
}
 .xs-container > h2 {
        margin-bottom: 20px;
 }

 /*section Designit*/
 .container {
    position: relative;
    height: 35vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }

 .Designit {
    position: absolute;
    width: 10%;
    height: 40%;
    margin: 0.5%;
    background-color: red;
    top: 0;
    left: 0;
}


.small-square2 {
    position: absolute;
    width: 10%;
    height: 40%;
    margin: 0.5%;
    background-color: black;
    top: 0;
    left: 175px;
    
}
.large-square {
    position: absolute;
    width: 20%;
    height: 80%;
    margin: 0.5%;
    background-color: white;
    top: 0;
    left: 351px;
}

.small-square3 {
    position: absolute;
    width: 10%;
    height: 40%;
    margin: 0.5%;
    background-color: blue;
    top: 146px;
    left: 175px;
}
.small-square4 {
    position: absolute;
    width: 10%;
    height: 40%;
    margin: 0.5%;
    background-color: grey;
    top: 146px;
    left: 0;
}


.small-square5 {
    position: absolute;
    width: 10%;
    height: 40%;
    margin: 0.5%;
    background-color: grey;
    top: 0;
    left: 702px;
}

.small-square6 {
    position: absolute;
    width: 10%;
    height: 40%;
    margin: 0.5%;
    background-color: rgb(21, 120, 207);
    bottom: 55px;
    left: 702px;
}
.small-square7 {
    position: absolute;
    width: 10%;
    height: 40%;
    margin: 0.5%;
    background-color: greenyellow;
    top: 0px;
    left: 877px;
}
.small-square8 {
    position: absolute;
    width: 10%;
    height: 40%;
    margin: 0.5%;
    background-color: burlywood;
    bottom: 55px;
    left: 877px;
}

