/*Generics*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 65px;
    font-family: OpenSans, Helvetica, sans-serif;
    
}
header {
    position: relative;
    height: 60vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.xl-container { 
    padding: 0px;
    min-height: 42vh;
    max-width: 81%;
    position: relative;
}
.xs-container {
    padding: 0px;
    min-height: 60vh;
    max-width: 50%;
    position: relative;
    margin: 100px auto;
    border: 2px dashed black;
}
.title  {
    font-size: 16px;
    text-align: center;
    margin: 6px 0px;
}
.small-txt {
    font-size: 11px;
    color: black;
    line-height: 1.5;
}
.bld {
    font-weight: bold;
}
.grey-txt {
    color:lightgrey;
}
button{
    width: 50px;
    height: 18px;
    border: none;
    background-color: rgb(3, 139, 224);
    color: white;}

    #pricing button {
        height: 30px;
        width: 100%;
        font-size: 15px;
        height: 20px;
        width: 90%;
        font-size: 11px;
    }


/*Header*/
.navbar  {
background-color:white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;  
min-height: 65px;
width: 100%; 
position: fixed;
top: 0;
left: 0;
right: 0;
box-shadow: 0px 0px 0px 0.8px #333333;
z-index: 1;
}
.navbar a , .left-col a{
text-decoration-line: none;
color: black;
}
.navbar-left, .navbar-right {
    display: flex;
}
.navbar img {
    max-height: 62%;
    
}
.navbar-left ul, .navbar-right ul {
    display: flex;
    list-style-type: none;
    color: black;
    text-decoration: none;
    gap: 10px;
}
.navbar-left ul {
    justify-content: flex-start;
    
}
.navbar-right ul {
    justify-content: flex-end;
}
.bottom-header-content {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.left-col, .right-col {
    width: 48%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}
.left-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    
}
.left-col p {
    margin-bottom: 15px;
    min-height: 30px;
}
.left-col button {
    font-size: 12px;
    width: 156px;
    min-height: 30px;
    background-color: rgb(3, 139, 224);
    color: white;
    border: none;
}
.right-col {
    position: relative;
    min-width:500px;
    min-width: 400px;
}
.right-col img {    
    
    max-height: 285px;
    position: absolute;
    top: 0;
    right: 10px;
}
.fa-solid {
    font-size: 40px;
}
/*Main*/
.xs-container h2{
    text-align: center;
}
.xs-container >h2 {
    text-align: start;
}
.xs-container span {
    text-align: center;
    line-height: 17px;
}
.circle {
    display: inline-block;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid lightslategray;
    margin: -3px auto;
}
.circle-blue {
    display: inline-block;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 3px solid rgb(0, 128, 255);
    margin: -3px auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}


.row .cols-grow > *{
    flex-grow: 1;

}
.row .cols-3 {
    gap: 30px;
}
.row.cols-3 > .col {
    flex-grow: 1;
    flex-basis: calc(100% / 3 - 60px / 3);
    min-height: 95px;
    border: 1px solid lightslategray;

}
.tag {
    min-height: 20px;
    max-width: 100%;
    border: 1px solid lightslategray;
    border-right: 5px;
    text-align: center;}

.tag span {
    padding-right: 5px;
}
.line {
    width: 20%;
    height: 1px;
    background-color: grey;
    margin: 10px 
}

.col .fa-solid{
    font-size: 10px;
}

div > .fa-check {
    color: blue;
    font-size:10px ;
}




    





